
label{
    width: 150px;
    display: inline-block;
}
.main{
    display: flex;
    justify-content: center;
}
form{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    background-color: cadetblue;
}
.button{
    display: flex;
    justify-content: center;
}
input{
    padding: 4px;
    border: 1px solid gray;
    border-radius: 5px;
}
.button button{
    background-color: brown;
    border: 1px solid gray;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}